<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Главная</h1>
    <h4><a title="Регистрация" href="/registration">Регистрация</a></h4>
    <h4><a title="Вход" href="/login">Вход</a></h4>
</body>
<html>